.button {
    background-color: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    padding: $padding;
    text-transform: uppercase;
    font-size: $base-font-size;
    margin-bottom: $space;
    line-height: 1.2;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button-pill-color;
    color: $button-pill-color;
}

.button--secondary {
    color: $button-secondary-color;
    border: 1px solid $button-secondary-border-color;
    background: $button-secondary-bg; 
}

.button--link-text {
    background: none;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    text-transform: none;
}