.drop-zone {
    width: 100%; 
    min-height: 50rem; 
    border-width: 0.1rem; 
    border-color: $dark-grey;
    border-style: dashed; 
    border-radius: 3rem;
    margin-bottom: $space;
}

.drop-zone__topbar{
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.drop-zone__image-container {
    display: inline-block;
    position: relative;
    margin: $space; 
}

.drop-zone__delete-button {
    position: absolute;
    right: 0;
    top: 0; 
}

.drop-zone--empty {
    min-height: 50rem;
    width:100%;
    display: flex;
    align-items:  center;
    justify-content: center;
}
.drop-zone--empty__content {
    text-align: center;
}
