.public-header {
    background: $brand-primary-color;
    width: 100%;
    padding: $padding;
}

.public-header__logo {
    font-size: 1.8rem;
    color: #fff;
    font-style: bold;
}

.public-header__image {
    width: 15rem;
}